<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="Server=.\SQLEXPRESS;Database=TESTDB;User Id=testuser;Password=Abc123456;"/>
  </connectionStrings>
  <appSettings>
    <!-- The mode uses decide how DbCommand to be executed, accept ExecuteReader or ExecuteNonQuery -->
    <add key="CommandMode" value="ExecuteReader"/>

    <!-- The command to be executed against database -->
    <add key="SqlCommandText" value="SELECT * FROM [dbo].[Item]"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>